@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

table {
	border-spacing: 0;
}

fieldset,img {
	border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}

strong {
	font-weight: bold;
}

caption,th {
	text-align: left;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

q:before,q:after {
	content: '';
}

abbr,
acronym {
	border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body {
	font-family: arial,helvetica;
	color: #333;
	color: rgba(0,0,0,0.5);
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}

h1 {
	font-family: 'Harabara';
	font-size: 6em;
	color: #222;
}

h2 {
	font-family: 'Harabara';
	font-size: 4em;
	color: #222;
}

p {
	font-size: 2em;
}

.intro p {
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
}

.section {
	text-align: center;
}

#menu {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin: 0;
}

.twitter-share-button {
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}

#download {
	margin: 10px 0 0 0;
	padding: 15px 10px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #49afcd;
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	vertical-align: middle;
	cursor: pointer;
	display: inline-block;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#download a {
	text-decoration: none;
	color: #fff;
}

#download:hover {
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #2F96B4;
	background-position: 0 -15px;
	-webkit-transition: background-position .1s linear;
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	transition: background-position .1s linear;
}

#infoMenu {
	height: 20px;
	color: #f2f2f2;
	position: fixed;
	z-index: 70;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-size: 0.9em;
	padding: 8px 0 8px 0;
}

#examplesList {
	display: none;
	background: #282828;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	padding: 20px;
	float: left;
	position: absolute;
	bottom: 29px;
	right: 0;
	width: 638px;
	text-align: left;
}

#examplesList h3 {
	color: #f2f2f2;
	font-size: 1.2em;
	margin: 0 0 15px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	padding: 0 0 5px 0;
}

div#slide1> div.tableCell > h1 {
	margin-top: -3.05em;
	margin-left: -5em;
}

div#slide2 > div.tableCell > h1 {
	margin-top: 2.5em;
}

div#slide3 > div.tableCell > h1,
div#slide4 > div.tableCell > h1 {
	margin-top: -3.5em;
}

div.slide> div.tableCell > h1 > img {
	margin-bottom: -20px;
}

div#slide1 {
	background: url('../img/1.jpg') no-repeat center center fixed;
}

div#slide2 {
	background: url('../img/2.jpg') no-repeat center center fixed;
}

div#slide3 {
	background: url('../img/3.jpg') no-repeat center center fixed;
}

div#slide4 {
	background: url('../img/4.jpg') no-repeat center center fixed;
}

/* Demos Menu
 * --------------------------------------- */
#demosMenu {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 999;
}

@font-face {
	font-family: "Harabara";
	src:url("../fuentes/Harabara.eot?") format("eot"),url("../fuentes/Harabara.woff") format("woff"),url("../fuentes/Harabara.ttf") format("truetype"),url("../fuentes/Harabara.svg#Harabara") format("svg");
	font-weight: normal;
	font-style: normal;
}

html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*---------------------------estilos de tabs--------------------------*/
#section1{
	background: url("../img/Mar_de_nubes.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

nav {
	background-color: #fff;
	/*border: 1px solid #dedede;*/
	border: 5px solid #dedede;
	/*width: 60%;*/
	width: 630px;
	height: 340px;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	margin: 8px 22px 8px 22px;
	overflow: hidden;
	vertical-align: center;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

nav > ul > li > ,
nav > ul > li > div ul > li >  {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

nav > ul > li > div ul > li >  {
	border-bottom: 4px solid transparent;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid #f2f2f2;
	margin: 0 0 0 8px;
}

nav > ul > li {
	color: #aaa;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}

nav > ul > li:hover {
	background-color: #76B6FA; 
}

nav > ul > li:hover {
	color: rgb(255,255,255);
}

nav > ul > li:hover  {
	border-top-color: rgb(255,255,255);
}

nav > ul > li > div ul > li:hover {
	border-left-color: rgb(255,255,255);
}

nav > ul > li > div,
nav > ul > li > div ul > li > div {
	background-color: rgb(40,44,47);
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

nav > ul > li > div ul > li > div {
	background-color: rgb(40,44,47);
	border-radius: 0 4px 4px 4px;
	box-shadow: inset 2px 0 5px rgba(0,0,0,.15);
	margin-top: -42px;
	right: -165px;
}

nav > ul > li:hover > div,
nav > ul > li > div ul > li:hover > div {
	display: block;
	opacity: 1;
	visibility: visible;
}

nav > ul > li > div ul > li,
nav > ul > li > div ul > li > div ul > li {
	display: block;
	position: relative;
}

nav > ul > li > div ul > li > a,
nav > ul > li > div ul > li > div ul > li > a {
	color: #fff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

nav > ul > li > div ul > li:hover > a {
	background-color: rgba(255,255,255,0.1);
}

img.icon {
	display: inline-block;
	margin-right: 10px;
	vertical-align: -18%;
}

#tabs {
	margin-left: 25%;
}

div#tabs > nav > div {
	height: 280px;
}

li.active {
	background: #4D82BC;
	color: #FFFFFF;
}

.menu-tabs * {
	cursor: pointer;
}

/*datepicker*/
.ui-widget {
    font-size: 0.8em;
}

/*Estilos para los 3 Tabs*/
#div_reserva_vuelo, #div_check_in, #div_pago {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 475px;
	overflow: hidden;
	border: 2px solid #4d82bc;
	border-radius: 10px;
	width: 95%;
	height: 95%;
}

 #div_busc_vuelo, #div_busc_checkIn, #div_busc_pago {
    border: 5px solid #e5ecf7;
    margin: 0;
    padding: 5px 20px;
	 border-radius: 10px;
	 height: 93%;
}

#box_vuelo .title_h3, #box_pago .title_h3, #box_checkIn .title_h3{
    color: #033d7d;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.2em;
	 margin: 10px 0px 25px;
	 font-weight: bold;
}

#box_vuelo .label_text, #box_vuelo .label_text_1, #box_vuelo .label_text_2, 
#box_vuelo .label_text_3, #box_vuelo .label_text_4, #box_pago .label_text,
#box_checkIn .label_text{
	color: #333;
	font: 15px Arial,Helvetica,sans-serif;
	padding: 0px 0px 0px;
	font-weight: bold;
}

#box_vuelo .label_text{
	margin: 0 13px 0 25px;
}

#box_pago .label_text{
	 margin: 0 5px 0 25px;
}

#box_checkIn .label_text{
	 margin: 0 5px 0 25px;
}

#box_vuelo .label_text_1{
	 margin: 0 34px 0 15px;
}

#box_vuelo .label_text_2{
	margin: 0 5px 0 25px;
}

#box_vuelo .label_text_3{
	 margin: 0 13px 0 15px;
}

#box_vuelo .label_text_4{
	 margin: 0 23px 0 25px;
}

#box_vuelo .input_text, #box_vuelo .input_combo, 
#box_pago .input_text, #box_checkIn .input_text{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    font-size: 15px;
    padding-left: 5px;
    vertical-align: calc();
	 height: 25px;
}

#box_vuelo .input_text{
	margin: 0px 0px 15px 0px;
	width: 150px;
}

#box_vuelo .input_combo{
	 margin: 0px 0px 15px 0px;
	 width: 157px;
}

#box_pago .input_text,
#box_checkIn .input_text{
    margin: 0px 0px 10px 0px;
	 width: 200px;
}

#box_vuelo .input_button, #box_vuelo .input_button:hover,
#box_pago .input_button, #box_pago .input_button:hover ,
#box_checkIn .input_button, #box_checkIn .input_button:hover  {
	 background-color: #033d7d;
    border: 0 none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font: bold 12px Arial,Helvetica,sans-serif;
    height: 30px;
    text-align: center;
    text-decoration: none;
}

#box_vuelo .input_button, #box_vuelo .input_button:hover {
	margin: 25px 0 0 221px;
	padding: 4px 20px 2px;
}

#box_pago .input_button, #box_pago .input_button:hover {
	margin: 25px 0px 0px 205px;
	padding: 4px 5px 2px;
}

#box_checkIn .input_button, #box_checkIn .input_button:hover {
	margin: 25px 0px 0px 200px;
	padding: 4px 5px 2px;
}

/**************MENSAJE DE ERROR*****************/
#div_msj_error_pago, #div_msj_error_checkin{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
	 border: 1px solid #ff0000;
    color: #333333;
	 border-radius: 10px;
	 overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 0.5em;
	 font-weight: bold;
	 margin-top: 6%;
}

#mensaje_img_pago, #mensaje_img_checkin {
	margin: 5px 20px auto;
	float: left;
}

#mensaje_img_pago img, #mensaje_img_checkin img{
	width: 40px;
}

#mensaje_text_pago, #mensaje_text_checkin{
	float: left;
	width: 82%;
	margin: 4px 0 0;
}
/*Estilos para los 3 Tabs*/