#logo {
	background-color: #1e1e1e;
	padding: 0;
}

.imagen_logo{
	margin: 14px 0 0 15px;
}

/*---------------------*/

#menu_horizontal {
	background: url("../img/fondobarra2.png");
	height: 30px;
	overflow: hidden;
}

#menu_horizontal ul{
	float: left;
	overflow: hidden;
	margin: 0px;
	color: #FFFFFF;
}

#menu_horizontal li{
	display: inline;
	color: #FFFFFF;
	float: left;
	text-decoration: none;
	padding: 4px 4px 3px;
	font-family: Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
	cursor: pointer;
	text-decoration: none;
}

#menu_horizontal li.resaltado{
	float: left;
	color: #FFFFFF;
	background: #b5bdc8; /* Old browsers */
	background: -moz-linear-gradient(top, #b5bdc8 0%, #828c95 0%, #28343b 31%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bdc8), color-stop(0%,#828c95), color-stop(31%,#28343b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b5bdc8 0%,#828c95 0%,#28343b 31%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b5bdc8 0%,#828c95 0%,#28343b 31%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b5bdc8 0%,#828c95 0%,#28343b 31%); /* IE10+ */
	background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 0%,#28343b 31%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
}

#menu_horizontal li a{
	text-decoration: none; 
	padding: 10px; 
	color: #FFFFFF;
	font: bold 11pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
}

/*---------------------*/

#centro {
    width: 90%;
	height:360px;
	margin: 15px auto;
	clear: both;
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*---------------------*/

#zona_izq {
	width:50%;
	height:200px;
	float: left;
}

#sub_zona_izq{
	width:90%;
	height:100%;
	margin: 0px 0 0 27px;
	clear: right;
}

.text_naranja_1{
	color: #f86500;
	font: bold 14pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
}

.text_gris_neg{
	color: #666666;
	font: bold 10pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
}

.enlance_naran{
	color: #f86500;
	font: bold 11pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
}

#pedido{
	margin: 45px 0 0 0px;
	width:100%;
	height:25%;
}

.img_pregunta{
	float: left;
	height: 47px;
	margin: -5px 0 0 0px;
}

.text_pregunta{
	background: url("../img/fondobarra.png");
	background-size: 1px;
	background-repeat: no-repeat;
	background: #f2f2f2;
	width: 100%;
	color: #666666;
	font: bold 10pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
	margin: 0px 0 0 0px;
	height: 37px;
}

/*---------------------*/

#zona_der {
	width:50%;
	height:200px;
	float: left;
}

#sub_zona_der{
	width:90%;
	height:100%;
	margin: 0px 0 0 27px;
	clear: right;
}

#text_ing{
	width: 100%;
}

.text_naranja_f{
	color: #f86500;
	font: bold 14pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
	float: left;
}

.text_gris{
	color: #787878;
	font: bold 11pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
	float: left;
	margin: 4px 0 0 10;
}

#ingreso{
	border: 2px solid #999999;
	width: 25%;
	margin: 26px 0 0 0;
	position: absolute;
	padding: 15px 35px 0px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(0%,#f3f3f3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#formu_telefono{
	margin: 3 auto;
	margin: 5px 0 0 0%;
}

#formu_contrasena{
	margin: 3 auto;
	margin: 10px 0 0 0%;
}

.text_input{
	margin: 3 auto;
	background: #f2f2f2;
}

.textbox{
	width: 100%;
	border: 1px solid #999999;
	background: url("../img/fondobarra.png");
	background-size: 1px;
	background-repeat: no-repeat;
}

.boton_ing{
	cursor: pointer;
	display: block;
	margin: 10 auto;
}

/*---------------------*/

#zona_inf {
	width: 80%;
	height: 127px;
    margin: 5% 0 0 -10%;
	clear: both;
	display: flex;
    /*justify-content: space-around;*/
	justify-content: space-between;
    flex-wrap: wrap;
}

.cont_img{
	float: left;
	background-color: #373737;
	cursor: pointer;
}

.imagen{
	padding: 2px;
}

.pie_img{
	text-align: left;
	color: #ffffff;
	font: bold x-small Tahoma,Arial,Georgia,Verdana,Helvetica,Geneva,sans-serif;
	margin: 5px 0 0 8px;
}

/*---------------------*/

.separador{
	color: #ff6600;
}

#pie_pagina {
	clear: both;
	width: 60%;
	height: 15%;
	margin: 0px auto;
	font-family: Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
}

.flecha_izq{
	float: left;
	padding: 10px;
	margin: 7px 0 0 0;
	cursor: pointer;
}

.text_direcc{
	float: left;
	color: #787878;
	font: bold 11pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
	margin: 10px 0 0 20px;
	width: 75%;
	height: 85%;
	overflow: hidden; 	
}

.enlance_naran_pie{
	text-decoration: none;
	color: #f86500;
	font: bold 11pt Arial,Tahoma,Georgia,Verdana,Helvetica,Geneva,sans-serif;
}

.flecha_der{
	float: left;
	padding: 10px;
	transform: rotate(180deg);
	margin: 7px 0 0 0;
	cursor: pointer;
}

